* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

.top-header {
	width: 100%;
	background-color: #b8cd06;
	padding: 10px 0;
	height: 78px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* position: fixed; */
	top: 0;
	left: 0;
	right: 0;

	.container-box {
		width: 1200px;
		max-width: 96%;
	}

	.navigation {
		display: flex;
		/* justify-content: space-evenly; */
		gap: 100px;
		img {
			width: 240px;
		}
		ul {
			display: flex;
			align-items: center;
			li {
				list-style: none;
				a {
					position: relative;
					font-family: "Poppins", sans-serif;
					font-weight: 500;
					color: black;
					font-size: 18px;
					text-decoration: none;
					transition: color 0.3s ease;

					&::after {
						content: "";
						position: absolute;
						left: 0;
						bottom: -4px;
						width: 0;
						height: 2px;
						background-color: white;
						transition: width 0.4s ease;
					}

					&:hover {
						color: white;

						&::after {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

.main-box {
	background-color: #fff;
	width: 100%;
	/* min-height: calc(100vh - 100px); */
	margin: 50px 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	.container-box {
		width: 1200px;
		max-width: 96%;

		.box-row {
			display: flex;
			gap: 20px;
			align-items: center;

			.left-side {
				width: 50%;

				.all-img-box {
					display: flex;
					justify-content: start;
					flex-wrap: wrap;
					gap: 20px;
					.imgbox {
						width: 45%;
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 30px;
						box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
						padding: 20px;
						border-radius: 20px;
						p {
							font-family: "Poppins", sans-serif;
							font-size: 18px;
							color: #333333;
							text-align: center;
						}
					}
				}
			}

			.right-side {
				width: 50%;
				align-content: center;

				.form-data {
					display: flex;
					flex-direction: column;
					justify-content: center;
					gap: 30px;
					font-family: "Poppins", sans-serif;

					.pageRedirect {
						display: flex;
						justify-content: end;

						span {
							font-family: "Poppins", sans-serif;
							font-weight: 600;
							color: #333333;
							font-size: 16px;
							text-transform: capitalize;
						}

						.pageLink {
							font-family: "Poppins", sans-serif;
							font-weight: 500;
							color: #333333;
							font-size: 16px;
							text-transform: capitalize;
							cursor: pointer;
							text-decoration: none;

							&:hover {
								color: #b8cd06;
							}
						}
					}

					h1 {
						font-size: 30px;
						font-weight: 500;
						text-transform: uppercase;
						color: #333333;
					}

					img {
						width: 12%;
					}

					input {
						background: transparent;
						border-radius: 5px;
						border: 1px #888 solid;
						color: black;
						height: 50px;
						padding: 12px;
						font-size: 16px;

						&:focus-visible {
							outline: none;
							border: 1px solid #b8cd06;
						}
					}

					a {
						font-family: "Poppins", sans-serif;
						font-weight: 500;
						color: #333333;
						font-size: 16px;
						text-transform: capitalize;
						cursor: pointer;
						text-decoration: underline;

						&:hover {
							color: #b8cd06;
						}
					}

					.buttn-green {
						background: #b8cd06;
						font-family: "Poppins", sans-serif;
						font-weight: 500;
						color: #000;
						border: 1px #b8cd06 solid;
						padding: 15px 45px;
						border-radius: 5px;
						font-size: 16px;
						transition: all 0.2s;
						cursor: pointer;
						text-transform: capitalize;
						text-decoration: none;

						&:hover {
							background: transparent;
							border: 1px #000 solid;
							color: #000;
						}
					}

					.buttn-invert {
						background: transparent;
						font-family: "Poppins", sans-serif;
						font-weight: 500;
						border-radius: 5px;
						color: #000;
						border: 1px #000 solid;
						padding: 15px 45px;
						font-size: 16px;
						transition: all 0.2s;
						text-transform: capitalize;
						cursor: pointer;
						text-decoration: none;

						&:hover {
							background: #b8cd06;
							border: 1px #b8cd06 solid;
							color: #000;
						}
					}

					h6 {
						font-size: 16px;
						color: #333333;
					}

					.social-icons {
						background: #b8cd06;
						border-radius: 50%;
						width: 40px;
						height: 40px;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;

						&:hover {
							transition: 0.2s ease-in;
							transform: scale(0.9);
						}

						svg {
							width: 25px;
							height: 25px;
						}
					}
				}
			}
		}
	}
}

/* scan barcode */
.main-box-scan {
	background-color: #fff;
	width: 100%;
	/* min-height: calc(100vh - 100px); */
	padding: 50px 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	.container-box {
		width: 1200px;
		max-width: 96%;
		display: flex;
		flex-direction: column;
		gap: 30px;

		.box-row {
			display: flex;
			gap: 20px;
			align-items: center;
			flex-wrap: wrap;
			.left-side {
				width: 49%;

				img {
					width: 100%;
				}
			}

			.right-side {
				width: 49%;
				align-content: center;
				h1 {
					font-size: 30px;
					font-weight: 500;
					text-transform: uppercase;
					font-family: "Poppins", sans-serif;
					color: #333333;
				}
				h2 {
					font-size: 25px;
					font-weight: 400;
					font-family: "Poppins", sans-serif;
					color: #808080;
				}
				p {
					font-size: 18px;
					font-weight: 400;
					font-family: "Poppins", sans-serif;
					color: #808080;
				}

				.form-data {
					display: flex;
					justify-content: start;
					gap: 30px;
					font-family: "Poppins", sans-serif;

					.pageRedirect {
						display: flex;
						justify-content: end;

						span {
							font-family: "Poppins", sans-serif;
							font-weight: 600;
							color: #333333;
							font-size: 16px;
							text-transform: capitalize;
						}

						.pageLink {
							font-family: "Poppins", sans-serif;
							font-weight: 500;
							color: #333333;
							font-size: 16px;
							text-transform: capitalize;
							cursor: pointer;
							text-decoration: none;

							&:hover {
								color: #b8cd06;
							}
						}
					}

					img {
						width: 12%;
					}

					input {
						background: transparent;
						border-radius: 5px;
						border: 1px #888 solid;
						color: black;
						height: 50px;
						padding: 12px;
						font-size: 16px;

						&:focus-visible {
							outline: none;
							border: 1px solid #b8cd06;
						}
					}

					a {
						font-family: "Poppins", sans-serif;
						font-weight: 500;
						color: #333333;
						font-size: 16px;
						text-transform: capitalize;
						cursor: pointer;
						text-decoration: underline;

						&:hover {
							color: #b8cd06;
						}
					}

					.buttn-green {
						background: #b8cd06;
						font-family: "Poppins", sans-serif;
						font-weight: 500;
						color: #000;
						border: 1px #b8cd06 solid;
						padding: 15px 45px;
						border-radius: 5px;
						font-size: 16px;
						transition: all 0.2s;
						cursor: pointer;
						text-transform: capitalize;
						text-decoration: none;

						&:hover {
							background: transparent;
							border: 1px #000 solid;
							color: #000;
						}
					}

					.buttn-invert {
						background: transparent;
						font-family: "Poppins", sans-serif;
						font-weight: 500;
						border-radius: 5px;
						color: #000;
						border: 1px #000 solid;
						padding: 15px 45px;
						font-size: 16px;
						transition: all 0.2s;
						text-transform: capitalize;
						cursor: pointer;
						text-decoration: none;

						&:hover {
							background: #b8cd06;
							border: 1px #b8cd06 solid;
							color: #000;
						}
					}

					h6 {
						font-size: 16px;
						color: #333333;
					}

					.social-icons {
						background: #b8cd06;
						border-radius: 50%;
						width: 40px;
						height: 40px;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;

						&:hover {
							transition: 0.2s ease-in;
							transform: scale(0.9);
						}

						svg {
							width: 25px;
							height: 25px;
						}
					}
				}
			}
		}
	}
}

.w-380 {
	width: 380px;
}

.not-found {
	display: flex;
	justify-content: center;
	padding: 50px 0;

	.container-box {
		width: 1200px;
		max-width: 96%;
		h1 {
			font-size: 30px;
			font-weight: 500;
			text-transform: uppercase;
			font-family: "Poppins", sans-serif;
			color: #333333;
		}

		p {
			font-size: 18px;
			font-weight: 400;
			font-family: "Poppins", sans-serif;
			color: #808080;
		}
	}
}

@media (max-width: 1024px) {
	.main-box {
		margin: 60px 0;

		.container-box {
			.box-row {
				flex-direction: column;
				gap: 20px;

				.left-side,
				.right-side {
					width: 100%;
				}

				.right-side {
					.form-data {
						gap: 20px;

						img {
							width: 10%;
						}

						.box-row {
							flex-direction: unset;
						}
					}
				}
			}
		}
	}

	.main-box-scan {
		& .container-box {
			& .box-row {
				& .left-side,
				.right-side {
					width: 100%;
				}
			}
		}
	}

	.main-box {
		& .container-box {
			& .box-row {
				& .left-side {
					& .all-img-box {
						justify-content: center;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.top-header {
		padding: 10px;
		& .navigation {
			justify-content: space-between;
			& img {
				width: 200px;
			}
		}
	}

	.main-box-scan {
		& .container-box {
			h1 {
				font-size: 24px;
			}
			h2 {
				font-size: 20px;
			}
			p {
				font-size: 16px;
			}
			& .form-data {
				flex-direction: column;
			}
		}
	}
	.w-380 {
		width: auto;
	}

	.not-found {
		.container-box {
			h1 {
				font-size: 24px;
			}

			p {
				font-size: 16px;
			}
		}
	}

	.main-box {
		margin: 50px 0 20px 0;

		.container-box {
			.box-row {
				.left-side {
					display: flex;
					justify-content: center;
					img {
						width: 85%;
					}
				}
				.right-side {
					.form-data {
						padding: 10px;
						h1 {
							font-size: 24px;
						}

						img {
							width: 20%;
						}

						input {
							height: 45px;
							font-size: 14px;
						}

						.box-row {
							flex-wrap: wrap;
							gap: 10px;
						}

						.buttn-green,
						.buttn-invert {
							padding: 12px 30px;
							font-size: 14px;
						}

						.social-icons {
							width: 35px;
							height: 35px;

							svg {
								width: 20px;
								height: 20px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 550px) {
	.top-header {
		& .navigation {
			gap: 60px;
		}
	}

	.main-box {
		& .container-box {
			& .box-row {
				& .left-side {
					& .all-img-box {
						& .imgbox {
							width: 90%;
							gap: 20px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 300px) {
	.main-box {
		.container-box {
			.box-row {
				.right-side {
					.form-data {
						h1 {
							font-size: 20px;
						}

						input {
							height: 40px;
							font-size: 12px;
						}

						.buttn-green,
						.buttn-invert {
							padding: 10px 20px;
							font-size: 12px;
						}

						.social-icons {
							width: 30px;
							height: 30px;

							svg {
								width: 18px;
								height: 18px;
							}
						}
					}
				}
			}
		}
	}
}
